<p>Find me in app/views/main/welcome.html.erb</p>

<h1 style="text-align:center; color:purple;">welcome to the website</h1>
<img src="https://cdn.discordapp.com/attachments/544420764602990594/880452214810894396/rainbow.JPG" style="width:250px;">